*,
*::before
*::after {
    box-sizing: border-box;
}
* {
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 25px;
}
ul, ol {
    list-style-position: inside;
}
body {
    background-color: rgb(244, 156, 156);
}
img {
    border: rgb(207, 96, 96) solid 10px;
}
h1 {
    color: white;
    background-color: rgb(110, 66, 66);
    margin: auto;
    padding: 10px;
    width: 600px;
}
h2 {
    color: white;
    background-color: rgb(164, 122, 122);
    width: 400px;
    margin: auto;
    padding: 10px;
}
h3 {
    color: rgb(0, 0, 0);
    margin: auto;
}
